@import "tailwindcss";

@theme {

    /* Custom colors */
    --color-primary: #054676;
    --color-secondary: #f6921e;
    --color-heading: #192335;

    /* Custom animations */
    --animate-blink: 3s steps(2, start) infinite blink;

    @keyframes blink {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0.2;
        }
    }
}

.sidebar {
    .ant-drawer-header-title {
        flex-direction: row-reverse !important;
    }
}

.float-bot-btn, .float-top-btn{
    /* .ant-float-btn-body{
        background-color: var(--color-primary) !important;
    } */
    
    .ant-float-btn-icon{
        width: auto !important;
        color: var(--color-primary) !important;
    }
}
