.hover-underline-animation {
    position: relative;
}

.hover-underline-animation .underline-bar {
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #1e3a8a;
    border-radius: 5px;
    /* blue-950 */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out, transform-origin 0s;
}

.hover-underline-animation:hover .underline-bar {
    transform: scaleX(1);
    transform-origin: left;
}

.hover-underline-animation:not(:hover) .underline-bar {
    transform: scaleX(0);
    transform-origin: right;
}