.swiper-container{
    .navi-btns{
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    &:hover .navi-btns{
        opacity: 1;
    }
}

.course-tabs {
    border-radius: 15px;
    background: transparent !important;

    .ant-segmented-group {
        gap: 5px;
    }

    .ant-segmented-item {
        color: var(--color-primary) !important;
        border: 2px solid var(--color-secondary) !important;
        border-radius: 15px;

        /* .tab-box .subtitle {
            
        }    */
    }

    .ant-segmented-item-selected {
        background-color: var(--color-primary) !important;
        color: white !important;
        border-radius: 15px;
        border-color: var(--color-primary) !important;

        .tab-box {
            .title {
                color: white !important;
            }

            .subtitle {
                background-color: rgba(246, 146, 30, 1) !important;
                color: white !important;
                backdrop-filter: blur(5px);
            }
        }
    }

    .ant-segmented-thumb {
        border-radius: 15px !important;
        background-color: var(--color-primary) !important;
        color: white !important;
    }
}